In [2]:
# from dask.distributed import Client, wait
# from dask_cuda import LocalCUDACluster
import dask_cudf
import pickle

# client = Client(LocalCUDACluster())

In [3]:
full_path = "../data/total_population_dataset.parquet"

df = dask_cudf.read_parquet(
    full_path, columns=["easting", "northing", "race", "net", "county"], split_row_groups=True
)

# Data reduction
# df['race'] = df['race'].astype('uint8')
# df['race'] = df['race'].astype('category')
# df["easting"], df["northing"] = hv.Tiles.lon_lat_to_easting_northing(df["x"], df["y"])
# df.drop(columns=['x','y'],inplace=True)
# df['net'] = df['net'].astype('int8')
# df['county'] = df['county'].astype('uint16')
# df[['easting','northing']] = df[['easting','northing']].astype('float32')
# df.to_parquet('data/total_population_3857_reduced-f32.parquet')

id2county = pickle.load(open("../id2county.pkl", "rb"))
county2id = {v: k for k, v in id2county.items()}
id2race = {
    0: "All",
    1: "White",
    2: "African American",
    3: "American Indian",
    4: "Asian alone",
    5: "Native Hawaiian",
    6: "Other Race alone",
    7: "Two or More",
}
race2id = {v: k for k, v in id2race.items()}
df["race"] = df["race"].astype("int8")

In [6]:
df.to_parquet("../data/total_population_dataset_final.parquet")

In [8]:
df.head()

     easting    northing  race  net  county
0 -9626792.0  3825189.75     1    0       0
1 -9626832.0  3825073.75     1    0       0
2 -9627101.0  3825153.50     1    0       0
3 -9627149.0  3825322.75     1    0       0
4 -9627159.0  3825334.75     1    0       0